[buildout]
develop = . local_recipes/django_recipes
parts = python django
eggs = django-project

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = django_recipes:default
wsgi = true
eggs = ${buildout:eggs}
